.eightBall {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
}